<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()" class="login-form">
      <div class="input-group">
        <input [(ngModel)]="email" name="email" type="email" placeholder="Email" required>
      </div>
      <div class="input-group">
        <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
      </div>
      <button type="submit" class="btn-login">Login</button>
    </form>
    <p class="signup-text">
      Don't have an account? <a routerLink="/signup" class="signup-link">Sign up</a>
    </p>
  </div>
