
<div>
    <h2>{{ type | titlecase }}</h2>
    <button (click)="showAddForm()">Add New {{ type | titlecase }}</button>
    <form *ngIf="showForm">
        <input type="text" placeholder="App/SIte Name" [(ngModel)]="appName" required>
        <input type="text" placeholder="{{ type | titlecase }}" [(ngModel)]="value" required>
        <button (click)="addItem()">Save</button>
    </form>

    <ul>
        <li *ngFor="let item of items">{{ item.app_name }}: {{ item.encrypted_value }}</li>
    </ul>
</div>